
{% extends "base.html" %}

{% block title %}Sign Up Page{% endblock %}

{% block content %}
<section style="margin-top: 50px;">
  <div class="container h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-6">
        <img src="{{ url_for('static', path='/reg.svg')}}" class="img-fluid" alt="Sample image">
      </div>
      <div class="col-lg-6 col-md-6">
        <form action="/auth/register" method="post">
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-2 me-3">Создание аккаунта</p>
          </div>

          <div class="form-outline mb-4">
            <input type="email" id="mail" class="form-control form-control-lg" name="email" value="{{ email }}" placeholder="example@example.ru" />
            <label class="form-label" for="mail">Email </label>
          </div>

          <div class="form-outline mb-3">
            <input type="password" id="pass" name="password" value="{{ password }}" class="form-control form-control-lg" placeholder="Введите пароль" />
            <label class="form-label" for="pass">Пароль</label>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-success btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Регистрация</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Вы уже зарегистрированы? <a href="/auth/login" class="link-danger">Войти</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}